*{
    padding: 0;
    margin: 0;
}
a{
    text-decoration: none;
    color: white;
}
ul{
    list-style: none;
}
.container_p{
    width: 100%;
    
}
.container_nav{
    margin: 0 auto;
    height: 80px;
}
.f1{
    margin-top: 330px;
}
.f2{
    margin-top: 330px;
}
.container_nav nav{
    background-color: rgba(0, 0,0, 0);
    border: rgba(0, 0,0, 0);
    display: inline;
    vertical-align: middle;
}
.navbar-toggle{
    position: relative;
    top:15px;
}
.banner{
    background-size:cover;
    position: relative;
    margin: 0 auto;
}
.center{
    width: 90%;
    height: 100%;
    margin: 0 auto;
}
.content{
    color: white;
    position: relative;
    top: 15%;
    left: 20px;
}
.content h1{
    margin-top: 0px;
    margin-bottom: 25px;
    font-weight: lighter;
}
.p1{
    padding-top:8px ;
    width: 225px;
    border-top:1px solid rgba(255, 255, 255, 0.3);
}
.p2{
    width: 267px;
    padding-bottom:8px ;
    border-bottom: 1px solid rgba(255, 255, 255, 0.3);
}
.sear{
    width: 80%;
    height: 70px;
    line-height: 60px;
    background-color: rgba(0, 0, 0, 0.3);
    position:relative;
    top:50%;
    margin: 0 auto;
    border-radius: 10px;
    
}
.spot{
    border-radius: 10px 0 0 10px;
    position:relative;
    top:5px;
    margin-left: 5px;
    text-align: center;
    display: inline-block;
    width: 25%;
    height: 60px;
    background-color: #f2f3f7;
}
.search{
    width: 50%;
    height: 60px;
    margin-left: -5px;
    position:relative;
    top:5px;
    background-color: white;
    border: white;
}
.searchbtn{
    position:relative;
    top:5px;
    border-radius: 0 10px 10px 0;
    width:23%;
    height:60px;
    background-color:red;
    border:red;
    margin-left: -5px;
}
.row{
    margin: 0 auto;
    margin-top: 25px;
    padding: 2px;
}
@media only screen and (min-width: 768px) and (max-width: 2650px) {
    body{
        background-color: #dddddd;
    }
    .pc_nav{
        background-color: black;
    }
    .pc_nav ul{
        list-style: none;
        color: white;
        height: 45px;
        width: 100%;
        margin: auto;
        line-height: 45px;
        padding-right: 50px;
    }
    .pc_nav li{
        float: right;
        padding-left: 20px;
    }
    .pc_nav li:first-child{
        margin-right: 40px;
    }
    .pc_nav li:last-child{
        padding-right: 25px;
    }
    .container_p{
        background-color: #e1e1e1;
    }
    .navbar-nav{
        margin-left:100px;
        margin-top: 15px;
    }
    .navbar-nav li{
        height: 50px;
        line-height: 50px;
        padding-right: 20px;
        text-align: center;
    }
    .navbar-nav li a{
        padding-bottom: 0px;
    }
    .a_hover p:hover{
        color:red;
    }
    .a_hover:hover{
        border-bottom: 3px solid red;
    }
    .banner{
        height: 447px;
    }
    .btn{
        display: none;
    }
    .content h3{
        display: none;
    }
    .col-sm-3{
        height: 365px;
        background-color: #14316d;
        text-align: center;
        color: white;
        font-size: 16px;
    }
    .car img{
        margin-top: 85px;
        margin-bottom: 10px;
    }
    .carH{
        display: none;
    }
    .col-sm-9{
        overflow: hidden;
    }
    .col-sm-3 button{
        margin-top: 50px;
        width: 150px;
        height: 55px;
        border: 1px solid white;
        background-color: rgba(0, 0,0, 0);
        border-radius: 10px;
    }
    .route{
        display: none;
    }
    .route_pc{
        text-align: center;
    }
    .route_pc p:first-child{
        font-size: 30px;
        letter-spacing: 20px;
    }
    .route_pc p:last-child{
        font-size: 15px;
        letter-spacing: 1px;
        position: relative;
        left: -5px;
    }

    .more{
        display: none;
    }
    .plate1_2{
        position: relative;
        top: 5px;
    }
    .plate1_2 img{
        position: relative;
        top: 35px;
    }
    .plate2_2{
        position: relative;
        top: -95px;
    }
    .plate2_3{
        position: relative;
        top: -184px;
    }
    .plate2{
        height: 1100px;
    }
    .intro_yd{
        display: none;
    }
    .intro{
        height: 350px;
        background-color: #1c5080;
    }
    .intro_pc h3{
        text-align: center;
        color: white;
        position: relative;
        top: 10px;
    }
    .intro_pc p{
        text-align:justify!important;
        width: 75%;
        text-indent: 2em;
        color: white;
        position: relative;
        top: 20px;
        left: 15%;
        line-height: 40px;
    }
    .mission1{
        width: 100%;
        height: 350px;
        padding-right: 0;
        position: relative;
        right: 15px;
    }
    .col-sm-5{
        padding-right: 0;
        padding-top: 0;
        padding-left: 10px;
    }
    .col-sm-7{
        padding-top: 0;
        padding-left: 0;
    }
    .merit_yd{
        display: none;
    }
    .merit_pc{
        height: 400px;
        background-color: #1c5080;
        /* display: block; */
        margin-top: 5px;
        position: relative;
        top: -35px;
    }
    .merit_pc ul{
        height: 400px;
        width: 768px;
        margin: 0 auto;
        
    }
    .merit_pc ul li{
        width: 220px;
        height: 400px;
        margin-left: 25px;
        float: left;
        text-align: center;
        

    }
    .merit_pc ul li div{
        position: relative;
        top: 35px;
        /* left: 140px; */
    }
    .merit_pc ul li p{
        position: relative;
        left: 0;
        font-size:12px;
    }
    .tage{
        color: #fff;
        position: relative;
        line-height: 30px;
        top: 55px;
        left: 15%;
    }
    .mission1{
        display: none;
    }
    .route_two{
        display: none;
    }
    .tail_yd{
        display: none;
    }
    .tail{
        position: relative;
    }
    .tail_pc{
        margin-top: 0px;
    }
    .main_part{
        height: 2800px;
        overflow: hidden;
    }
    .friend ul{
        margin: 0 auto;
        width: 768px;
    }
    .friend ul li{
        display: inline-block;
    }
    #box10{
        background-color: rgb(225,225,225);
    }
    #box10{
        height: 930px;
    }
    .on{
        display: block;
        color: white;
        background-color: black;
        width: 100%;
        height: 80px;
        padding-top: 15px;
    }
    .on p{
        margin-left: 20px;
    }
    .on span{
        font-size: 30px;
    }
    .tw{
        display: none;
    }
    .fi{
        width: 100%;
        height: 80px;
        background-color: black;
        opacity: 0.7;
        color: white;
        margin-top: 190px;
        padding-top: 15px;
    }
    .fi p{
        margin-left: 20px;
    }
    .fi span{
        font-size: 30px;
    }
    #e1{
        display: block;
    }
@media only screen and (max-width: 767px){
    body{
        background-color: #f5f5f5;
    }
    .pc_nav{
        display: none;
        line-height: 110px;
    }
    .container_p{
        height: 80px;
        background-color: white;
    }
    .navbar-collapse{
        position: relative;
        top: 30px;
    }
    .navbar-nav{
        margin-top: 0px;
        z-index: 1;
        background-color: white;
        text-align: center;
    }
    .content{
        z-index: -1;
    }
    .banner{
        height: 370px;
        z-index:0;
    }
    .btn{
        background-color: red;
        color: white;
        font-size: 16px;
        font-weight: lighter;
        float:right;
        margin-top: 22px;
        margin-right: 45px;
    }
    .content h1{

        font-size: 32px;
    }
    .content p{
        display: none;
    }
    .col-sm-3{
        height: 200px;
        background-color: white;
        font-size: 16px;
    }
    .carH img{
        margin-top: 50px;
        margin-left: 40px;
    }
    .carH span{
        color: #1c5080;
        font-size: 30px;
        margin-left: 20px;
    }
    .carH p{
        color: #919191;;
        margin-left: 160px;
        position: absolute;
        top: 120px;
    }
    .col-sm-3 button{
        font-size: 24px;
        font-weight: lighter;
        width: 165px;
        height: 55px;
        color: #919191;
        border: 1px solid #919191;
        background-color: rgba(0, 0,0, 0);
        border-radius: 10px;
        position: absolute;
        top: 80px;
        right: 40px;
    }
    .Sbanner{
        display: none;
    }
    .car{
        display: none;
    }
    .route_pc{
        display: none;
    }
    .row{
        background-color: rgba(255, 255, 255, 0.4);
    }
    .route{
        width: 90%;
        height: 100px;
        line-height: 120px;
        margin: auto;
        font-size: 30px;
    }
    .route span:first-child{
        color: red;
    }
    .route_two{
        width: 90%;
        height: 100px;
        line-height: 120px;
        margin: auto;
        border-bottom: 1px solid rgba(104, 103, 103, 0,3);
        font-size: 30px;
    }
    .route_two span:first-child{
        color: red;
    }
    .more{
        font-size: 30px;
        font-weight: lighter;
        height: 60px;
        width: 230px;
        border-radius: 10px;
        background-color: white;
        border: 1px solid #a9a9a9;
        color:#a9a9a9;
        position: relative;
        left: 35%;
        margin-bottom: 20px;
    }
    .col-sm-5{
        display: none;
    }
    .mission1{
        text-align: center;
        margin-top: 100px;
    }
    .mission1 img{
        margin-top: 120px;
    }
    .intro_pc{
        display: none;
    }
    .intro{
        text-align: center;
        background-color: rgba(255, 255, 255, 0);
    }
    .intro2{
        background-color: rgba(255, 255, 255, 0);
    }
    .intro_yd h3{
        text-align: center;
        color: black;
        position: relative;
        top: 0px;
    }
    .intro_yd p{
        width: 100%;
        text-align:justify!important;
        text-indent: 2em;
        color: black;
        position: relative;
        top: 10px;
        line-height: 35px;
    }
    .hope{
        background: rgba(255, 255, 255, 0.4);
    }
    .end{
        background: url(img/back.png) no-repeat center;
        background-size: 100% 100%;
        background-position:0 300px ;
    }
    .merit_pc{
        display: none;
    }
    .tail_pc{
        display: none;
    }
    .last{
        display: none;
    }
    #box10{
        height: 1030px;
    }
     .on{
         display: none;
     }
     .tw{
         display: block;
         width: 100%;
         height: 80px;
         background-color: black;
         opacity: 0.8;
         color: white;
         padding-top: 15px;
         padding-left: 20px;
         padding-right: 20px;
     }
     .th{
         float: right;
     }
     .th span{
        font-size: 30px;
     }
     #e1{
         display: none;
     }
    
}